@import url('https://fonts.googleapis.com/css?family=BIZ UDPMincho:700|BIZ UDPMincho:400');

:root[data-theme="light"] {
    --text: #010204;
    --background: #f2fbfd;
    --primary: #7cccee;
    --secondary: #b6e3f6;
    --accent: #1a93c7;
}
:root[data-theme="dark"] {
    --text: #fbfcfe;
    --background: #020b0d;
    --primary: #116183;
    --secondary: #093649;
    --accent: #38b1e5;
}

html {font-size: 100%;} /* 16px */

body {
    font-family: 'BIZ UDPMincho';
    font-weight: 400;
    color: var(--text);
    background-color: var(--background);
}

h1, h2, h3, h4, h5 {
    font-family: 'BIZ UDPMincho';
    font-weight: 700;
}

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

a > i {
    color: var(--text);
    text-decoration: none;
    font-size: 1.777rem;
}

.navbar-brand, .nav-link {
    color: var(--text);
}

.navbar-nav .nav-link.active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

.card.project-box{
    height: 26rem;
    border: transparent;
}

.card img {
    height: 13rem;
}

.card > .card-body {
    background-color: var(--primary);
}

.card > .card-footer {
    background-color: var(--accent);
}
