@charset "utf-8";
:root {
    --scrollbar-width: 0px;
}

.site-header > .navbar-fixed {
    position: fixed;
    width: calc(100% - var(--scrollbar-width));
}

.navbar-top {
    display: flex;
    align-items: stretch;
    top: 0;
    right: 0;
    left: 0;
    min-width: 90px;
}
