@import url("https://fonts.googleapis.com/css?family=BIZ%20UDPMincho:700|BIZ%20UDPGothic:400");

$base-font-family: "BIZUDPGothic", serif;
$header-font-family: "BIZUDPMincho", serif;

$base-font-weight: 400 !default;
$header-font-weight: 700 !default;
