---
layout: default
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="main-content my-3">{{ content }}</main>
    {%- include footer.html -%}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/c9d5ab780e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/site.js"></script>
  </body>
</html>
